.global-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--shape-button); 
  color: var(--text-heading);
  text-align: center;
  padding: 1rem 0;
  z-index: 1000; 
}

.footer-center {
  font: 400 0.875rem/1 var(--font-family-3);
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.footer-center img {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}
